[tools]
bun = "latest"
wrangler = "latest"

[tasks.build]
run = "bun run build"

[tasks.dev]
run = "bun run dev"

[tasks.preview]
run = "bun run preview"

[tasks.deploy]
run = "wrangler pages deploy .vitepress/dist --project-name feather-lang --branch main"

[tasks.update-tests]
run = "bun run bin/update-tests.mjs"
