[env]
_.path = "./bin"

[tasks."build:harness"]
description = "Builds the test harness runner"
run = """
cd harness
go build -o $MISE_CONFIG_ROOT/bin/harness ./cmd/harness
"""

[tasks."build:gcl"]
description = "Builds the Go host (gcl)"
depends = ["build:core"]
run = """
go build -o $MISE_CONFIG_ROOT/bin/gcl ./cmd/gcl
"""

[tasks."build:core"]
description = "Builds the core interpreter as a dynamic library"
run = """
mkdir -p build
cc -shared -fPIC -o build/libtclc.dylib src/*.c -I src
"""

[tasks.build]
description = "build all binaries in bin/"
depends = ["build:core", "build:harness", "build:gcl"]

[tasks.test]
description = "Run the test harness"
depends = ["build"]
run = """
harness --host bin/gcl testcases/
"""
